.card {
    width: 600px;
}

.department-card {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    cursor: pointer;
    background-color: #fff;
}

/* .department-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
} */

.department-card .card-body {
    font-weight: bold;
}

.data-card {
    min-width: 900px;
    min-height: 580px;
}
